/* centering */
.center-box{
  display: table;
  height: 100%;
}
.container-to-center{
  height: 100%;
  display: table-row;
  vertical-align: middle;
}
.centered-object{
  display: table-cell;
  vertical-align: middle;
}
.hcenter{
  margin: auto;
}

.imgwrap-center{
  margin: 0 auto;
  max-width: 410px;
}

.floatleft{
  float: left;
  margin-right: 0px;
}
.floatright{
  float: right;
  height: 100%;
  margin-left: 0px;
}
.floatright-conditional{
  float: right;
  height: 100%;
  margin: 0 0 0 10px;
}
.floatclear{ clear: left; }
.float-auto-height{ height: auto!important; }
.right-space{ padding-right: 5px; }

.wide{ width: 100%; }
.half-wide{ width: 50%; }
.full-wide{ width: 100vw; }

.grand-container{
  margin: 0 auto;
  width: calc(991px - 45px);
}
.grand-container-width{ width: calc(991px - 45px); }
.grand-container-side-width{ width: calc((100vw - 991px)/2); }
.col-padding{
  margin-left: 15px;
  margin-right: 15px;
}
.row-padding{
  margin-left: -15px;
  margin-right: -15px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica'!important;
}

.strong { font-weight: 600; }
.super-strong { font-weight: 900; }
.semi-strong { font-weight: 600; }
.em { font-style: italic; }
span.strong {font-weight: 800; }
.panel-intro-text{
  margin: 20px 0;
}
.panel-intro-title{
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.full-header{ display: block; }
span.navy-header{
  color: #0032c8;
  font-size: 24px;
  line-height: 1;
  margin-right: 10px;
}
span.cerulean-header{
  color: #008cff;
  font-size: 24px;
  line-height: 1;
  margin-right: 10px;
}
span.grey-header{
  color: #b4b4b4;
  font-size: 24px;
  line-height: 1;
  margin-right: 10px;
}

body a{
  color: #008cff;
}

.padless{
  padding: 0px!IMPORTANT;
  margin: 0px!IMPORTANT;
}

.geometric{ float: left; }
.geometric-text{
  position: absolute;
  color: #fff;
  padding-left: 15px;
}
.geometric-link{ color: #fff; }
.geometric-main{
  fill: #282846;
}
.geometric-top{ fill: #008cff; }
.geometric-bottom{
  fill: #282846;
  opacity: 0.7;
}
.geometric-side{ background: #282846; }
.geometric-ribbon{
  fill: #282846;
  opacity: 0.7;
  }
.geometric-image{
  background-repeat: no-repeat;
}

/* buttons */
.link-inline{
  text-decoration: none;
  color: #008cff;
  transition: 0.3s;
}
.link-inline:hover{
  text-decoration: none;
  color: #0032c8;
}
.button0, input.button0{
  border: 2px solid inherit;
  border-radius: 30px;
  padding: 10px 0;
  display: inline-block;
}
.button1, input.button1, a.button1{
  overflow: hidden;
  color: #008cff;
  font-size: 21px;
  font-weight: 200;
  border: 2px solid #008cff;
  border-radius: 2px;
  display: inline-block;
  padding: 11px 30px 6px 30px;
  background: inherit;
  transition: 0.3s;
}
.button1:hover, input.button1:hover{
  background: #008cff;
  border: 2px solid #008cff;
  color: white;
  text-decoration: none;
}
.button2, input.button2, a.button2{
  overflow: hidden;
  color: #fff;
  font-size: 21px;
  font-weight: 200;
  border: 2px solid #008cff;
  border-radius: 2px;
  display: inline-block;
  padding: 11px 30px 6px 30px;
  background: #008cff;
  transition: 0.3s;
}
.button2:hover, input.button2:hover{
  background: #0032c8;
  border: 2px solid #0032c8;
  color: white;
  text-decoration: none;
}
.button-get-quotes, input.button-get-quotes{
  background: #008cff;
  color: #fff;
  border-radius: 2px;
  padding: 8px 20px 5px 20px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
}
.button-get-quotes:hover, input.button-get-quotes:hover{
  color: #fff;
  background: #0032c8;
  text-decoration: none;
}
.button-get-quotes-lite, input.button-get-quotes-lite{
  color: #008cff;
  border-radius: 2px;
  padding: 8px 20px 5px 20px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.button3, input.button3, span.button3, span.button3-static{
  color: #008cff;
  font-weight: 300;
  background: inherit;
  border: none;
  font-size: 18px;
  transition: 0.3s;
}
.button3:hover, input.button3:hover{
  color: #0032c8;
  text-decoration: none;
}
.button4, input.button4{
  color: white;
  border: 2px solid #008cff;
  padding: 10px 30px;
  display: inline-block;
  background: #008cff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  white-space: normal;
}
.button4:hover, input.button4:hover{
  color: white;
  background: #0032c8;
  border: 2px solid #0032c8;
  text-decoration: none;
}
.button-confirm, input.button-confirm{
  color: white;
  border: 2px solid #008cff;
  padding: 10px 30px;
  display: inline-block;
  background: #008cff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  white-space: normal;
}
.button-confirm:hover, input.button-confirm:hover{
  color: white;
  background: #0032c8;
  border: 2px solid #0032c8;
  text-decoration: none;
}
.button-footer, .button-footer:visited{ color: #141428; }
.button-footer:hover{ color: #333; }
.button-pad2{ padding: 20px; }
.button3-align-box{ line-height: 22px; }
.address-link{
  font-size: 22px;
  text-decoration: underline;
}
.address-format{ display: inline; }
.button-box-height{
  height: 80px;
}
.button-box-height-thin{
  height: 49px;
}

.info-spacing{ padding: 0 0 0 30px; }
.icon-spacing{ margin: 0 5px; }
.icon-spacing-right{ margin-right: 5px; }
.icon-spacing-left{ margin-left: 5px; }
.icon-spacing-button3{ margin-right: 5px; }
.sort-icon-spacing{ margin: 0 5px 0 80px; }

/* panels */
.cerulean{ color: #008cff;}
.panel-padding{ padding: 60px 0; }
.panel-padding-bottom-only{ padding: 0 0 60px 0; }
.panel-padding-top-only{ padding: 60px 0 0 0; }
.panel-padding-sides-only{ padding: 0 40px 40px; }
.panel-padding-small{ padding: 40px 0; }
.panel-lightgrey{ background: #e6e6f0; }
.panel-lightblue{ background: #d2f0ff; }
.panel-white{
  background: #fff;
  color: #141428;
}
.panel-slate{
  background: #282846;
  color: #fff;
}
.panel-slate-desktop{
  background: #282846;
  color: #fff;
}
.panel-cerulean{
  background: #008cff;
  color: #fff;
}
.participation-text-panel{
  padding: 30px;
}

.participation-panel{
  padding: 0!important;
  background-size: 120%;
  width: 100%;
  height: 515px;
  overflow: auto;
}
img.participation-panel{
  width: 100%;
  height: 100%;
  margin: auto;
}
img.community-solar-diagram{
  margin: 0 auto 40px auto;
}
ul.participation{ padding-left: 20px; }
li.participation{
  padding: 5px 0;
  color: #008cff;
}
p.participation{
  color: #333;
  margin: 0;
}
.add-shadow{ box-shadow: 0 5px 5px 0 #bbb; }
.add-dark-shadow{ box-shadow: 0 3px 3px 0 #141428 inset; }

/* menus */
.select-menu-format{
  background-color: #fff;
  border: solid 1px #141428;
  padding: 10px;
  position: relative;
}
a.select-menu-link{ color: #111; }
a.select-menu-link:hover{ color: #888; }
.select-menu-icon-spacing{ padding: 0 0 0 30px; }
.select-menu{
  display: none;
  position: absolute;
  right: 15px;
  top: 28px;
  z-index: 1000;
}
.select-menu-width{width: 250px;}
.menu-spacing{ padding: 10px;}
.detail-select-field{
  text-align: left;
  width: 100%;
  height: 30px;
}
.detail-select-field-area{
  height: 60px;
}

.bid-detail-card{
  border-radius: 3px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 5px 5px 0 #bbb;
  margin: 20px 0;
}
.moving-card{
  position: fixed;
  top: 150px;
  width: 280px;
  margin-left: 20px;
}
.bid-detail-select-card{
  background: white;
  padding: 10px 30px;
  z-index: 0;
  box-shadow: 0 5px 5px 0 #bbb;
}
.bid-summary-card{
  border-top: solid 4px #008cff;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 20px 0;
  background: #fff;
  box-shadow: 0 5px 5px 0 #bbb;
  transition: 0.3s;
}
.bid-summary-card:hover{
  border-top: solid 4px #0032c8;
}
.row-of-summary-cards{
  max-width: calc(991px - 30px);
  margin: 0 auto;
}
.summary-card-text{ font-size: 14px; }
a.summary-card-text{ font-size: 14px; }
.summary-card-break{ height: 20px; }
.summary-card-exit-padding{
  padding: 20px 20px 20px 20px;
  display: block;
}
.detail-card-exit-padding{ padding: 0 0 0 10px; }

.summary-card-padding{
  padding: 20px 0;
  display: block;
}
.detail-card-padding{
  padding: 20px 0;
  display: block;
}
.detail-card-padding-first{
  padding: 0 0 20px 0;
  display: block;
}

.operator-logo-for-card{
  max-height: 70px;
  max-width: 100%;
}

.construction-logo{
  height: 30vh;
  width: auto;
}

.construction-name{
  height: 8vh;
  width: auto;
}

/* text decoration */
.bold{ font-weight: 800;}
.general-header-tiny{ font-size: 20px!important;}

/* separators */
.full-rule{
  padding-top: 10px;
  margin-bottom: 10px;
}
.panel-offset-rule{
  padding: 7px 0 0 0;
  margin: 0;
}
.thin-rule{
  padding: 0;
  margin: 0;
}
.rule-padding{ padding-top: 20px; }
.col-rule{
  padding: 10px 15px;
  margin: 0 0;
}
.half-rule{ margin-right: 50%; }
.charcoal-rule{ border-bottom: solid 1px #141428;}
.lightgrey-rule{ border-bottom: solid 2px #e6e6f0;}
.grey-rule{ border-bottom: solid 1px #b4b4b4;}
.thick-yellow-rule{ border-bottom: solid 5px #ffe778;}
.charcoal-vertical-rule{ border-left: solid 1px #141428;}
.lightgrey-vertical-rule{ border-left: solid 2px #e6e6f0;}
.grey-vertical-rule{ border-left: solid 1px #b4b4b4;}
.vertical-rule-padding50{ padding-left: 30px; }

.help-panel{
  padding: 30px 100px 30px 100px;
  margin: 0 auto;
  background: white;
  z-index: 10;
}
.help-panel-item-label{
  width: 80px;
  height: 52px;
  float: left;
}
.help-panel-item{ height: 50px; }

/* layouts */
.header-container{
  margin: 0 auto;
}
.header-banner-height{
  height: 120px;
  width: 100%;
}
.header-banner-top{
  height: 80px;
}
.header-banner-bottom{
  background: #282846;
}
.header-bottom-height{ height: 55px; }
.header-hamburger{
  display: none;
  background: #fff;
}
.mobile-nav-icon{
  color: #141428;
  font-size: 60px;
}

.header-logo{
  height: 35px;
  width: auto;
}
.header-nav-height{
  height: 60px;
  width: 100%;
}
.header-menu-title{
  position: relative;
  font-weight: 300;
}
.underline-active{ border-bottom: 4px solid #008cff; }
.underline-inactive{ border-bottom: 4px solid #282846; }
.overline-slate{ border-top: 4px solid #282846; }
.overline-charcoal{ border-top: 2px solid #141428; }
a.header-menu-title{
  color: #fff;
  z-index: 1001;
  transition: 0.3s;
}
.header-menu-title-centering{ margin-top: 4px; }
a.header-menu-title-open{
  z-index: 1001;
}
a.header-menu-title:hover{
  color: #008cff;
  text-decoration: none;
  transition: 0.3s;
}
a.header-menu-title:visited{ color: #fff; }
.menu-angle{color: #008cff;}
a.header-menu-item{
  color: #e6e6f0;
  font-weight: 200;
  transition: 0.3s;
}
a.header-menu-item:visited{ color: #e6e6f0; }
a.header-menu-item:hover{
  color: #008cff;
  text-decoration: none;
}
span.header-menu-spacing-object{
  margin: 0 10px;
}

.header-menu{
  display: none;
  width: 250px;
  background-color: #141428;
  position: absolute;
  left: -30px;
  padding: 0;
  margin-top: 0px;
  top: 40px;
  z-index: 1000;
}
.header-menu-cap{
  background-color: #141428;
  position: absolute;
  height: 55px;
  left: 0px;
  top: -55px;
  z-index: 900;
}
.header-menu-spacing{ padding: 10px 30px; }
.header-menu-spacing-last{ padding: 10px 30px 20px 30px; }
.header-menu-spacing-first{
  padding: 10px 30px 10px 30px;
}

.footer-top{
  background: #bbb;
  z-index: 10!IMPORTANT;
}
.footer-bottom{
  background: #333;
  color: #ddd;
  padding: 10px 0;
}
.footer-span-first{ padding: 10px 20px 10px 0;}
.footer-span{ padding: 10px 20px 10px 20px;}
.footer-span-last{ padding: 10px 0 10px 20px;}
.footer-span-none{ padding: 10px 0 10px 0;}
.footer-header{
  padding: 10px 0;
  color: #141428;
}
.footer-link, .footer-link:visited{ color: #141428; }
.footer-link:hover{
  color: #141428;
  text-decoration: none;
  transition: 0.3s;
}
.footer-link-bottom, .footer-link-bottom:visited{ color: #e6e6f0; }
.footer-link-bottom:hover{ color: #e6e6f0; }
.footer-item{ padding: 10px 0;}

img.footer-logo{
  height: 30px;
  width: auto;
  margin: 25px 0 5px 0;
}

.message-count{
  background: red;
  color: white;
  border-radius: 10px;
  padding: 0 5px;
  margin: 0 0 0 5px;
}

/* padding and spacing */
.right-pad{
  padding-right: 15px;
}
.left-pad{
  padding-left: 15px;
}

.mobilewidth-big{ display: inherit; }
.mobilewidth-small{ display: none; }
.mobile-text-center{}
.mobile-text-right{}
.mobile-text-left{}

/* spacing */
.add-vertical-pad{ padding: 20px 0px 20px 0px; }
.add-small-vertical-pad{ padding: 10px 0px 10px 0px; }
.add-tiny-vertical-pad{ padding: 4px 0px 4px 0px; }
.add-left-pad{ padding-left: 20px; }
.mobile-nav-bottom-spacing{}
.mobile-nav-top-spacing{}

/* forms */

.form, input.form {
  height: 50px;
  width: 400px;
  background: white;
  border: 1px #b4b4b4 solid;
  padding: 3px 0 0 10px;
  font-size: 18px;
}
input.form[type=submit]{
  height: 50px;
  width: auto;
}
.form-area, input.form-area{
  padding: 10px;
  font-size: 18px;
  height: 80px;
  width: 400px;
  border: 1px #b4b4b4 solid;
}
.form-area-big, input.form-area-big{
  height: 240px;
  width: 600px;
}
.form-area-invisible{ border: 0px; }
.form-area-invisible:focus{ outline: none; }

.form-short, input.form-short{ width: 200px; }
.form-full, input.form-full{ width: 100%; }
.form-auto, input.form-auto{ width: auto; }
.form-checkbox, input.form-checkbox{
  font-size: 18px;
}
.form-label{
  margin-bottom: 10px;
}

.form-zip, input.form-zip{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #141428;
  width: 150px;
  padding: 3px 0 0 15px;
  display: inline;
}
.form-zip-button{
  height: 50px;
  line-height: 52px;
  font-size: 18px;
  width: 150px;
  background-color: #008cff;
  color: white;
  border: none;
  display: inline;
  padding: 0 20px 0 20px;
  margin: 0 0 0 10px;
  transition: 0.3s;
}
.form-zip-button:hover{
  background: #0032c8;
  color: white;
  text-decoration: none;
}

.message-box{
  margin: 30px 0;
  padding: 20px;
  border: 2px solid #008cff;
  border-radius: 10px;
}

.detail-nav-link{ }

.stacking-objects{display: inline;}

.big-only{}
.mid-only{display: none;}
.small-only{display: none;}

.chart{ height: 500px; }
.chart-width{ width: 100%; }
.map-width{ width: 100%; }
.economic-parameter{
  width: 75px;
  text-align: right;
}

.landing-get-started{
  height: 200px;
}

td.bid-compare{
  text-align: center;
  font-size: 12px;
}

th.bid-compare{
  padding: 5px 10px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 10px;
}
td.bid-compare-header-spacing{
  padding: 5px 0;
}

table.bid-compare{
  margin: auto;
  width: 100%;
}

.half-image-banner-container{
  width: 100%;
}
.half-image-banner{
  background-size: 100vw;
  height: 200px;
}

.half-image-message-box{
  height: 300px;
  margin: 50px 0;
}

.half-image-message{
  background: white;
  padding: 30px;
}

.operator-profile-banner{
  background-size: cover;
  background-repeat: repeat;/*no-repeat;*/
}
.profile-info-banner-height{ height: 100px; }
.operator-profile-banner-top-spacing{ height: 385px; }
.operator-profile-no-banner-top-spacing{ height: 200px; }
.operator-profile-banner-full-spacing{ height: 140px; }
.profile-banner-image-container{
  height: 120px;
  width: 200px;
}
.profile-insert-image{
  max-width: 200px;
  max-height: 120px;
  margin: auto;
}
.profile-text-container{
  height: 120px;
  width: calc(100% - 220px);
  padding: 20px;
  background: #eee;
  opacity: 0.8;
}
.profile-text-container:after{ opacity:1.0; }
.operator-profile-message-banner{
  background: #008cff;
  width: 100%;
  padding: 5px 0;
}
a.operator-profile-message-banner{
  color: white;
}
.operator-profile-pad{
  padding: 10px 0;
}

img.subscription-type-graph{
  width:100%;
  height:auto;
}

.operator-banner-spacing{ height: 75px; }
.operator-logo{
  width: 200px;
  height: 200px;
  background: #fff;
}
img.operator-logo{
  width: 180px;
  height: 180px;
  margin: 10px;
}
.operator-after-logo-spacing{
  margin-left: 50px;
}
.operator-name-spacing{ height: 125px; }
.operator-rating-spacing{ height: 100px; }

span.button-spacing{ margin: 0 20px; }

.calculator-graph{
  width: 500px;
  height: auto;
  margin: 10px 0;
}

.red, span.red{ color: #e60046; }
.charcoal, span.charcoal{ color: #141428; }
a.green, .green, span.green{ color: #00d282; }
a.lightgrey, .lightgrey, span.lightgrey{ color: #e6e6f0; }
.white-background{background: #fff;}
span.red-text{ color: #f00; }
span.blue-text{ color: #00f; }
span.grey-text{ color: #888; }
.pad-inside-row{ padding: 30px;}

.expand{ display: none; }

.expander-box{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  border: 1px solid #b4b4b4;
  background: white;
}
.expander-box:first-child{
  margin-top: 0;
}
.expander-title{
  padding-top: 3px;
}

.feature-box{
  width: 100%;
  padding: 20px;
  border: 1px solid #141428;
  background: white;
}

img.award-logo{
  margin: 39px 0 10px 0;
}

.preference-box{ height: 50px; }
.preference-line{
  stroke: #008cff;
  stroke-width: 2px;
  z-index: 5;
}
.preference-line-selected{
  stroke-width: 6px;
}
.preference-box-bottom{
  fill: #008cff;
  z-index: 9;
}
.preference-box-top{
  fill: #fff;
  stroke: #008cff;
  stroke-width: 0px;
  z-index: 10;
  transition: 0.3s;
}
.preference-box-top-selected{ fill: #008cff; }
.preference-box-top:hover{
  stroke-width: 20px;
  stroke: #008cff;
  stroke-opacity: 0.5;
}

.scale-outer{
  stroke: #00d282;
  fill: #00d282;
}
.scale-inner{
  stroke: #fff;
  fill: #fff;
}
.scale-background{
  stroke: #ccc;
  fill: #ccc;
}

.directions-width{
  width: calc(100% - 50px);
}
.directions-top-padding{
  padding-top: 20px;
}

.member-box{
  background: #fff;
  border: 1px solid #141428;
  border-top: 5px solid #0032c8;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  transition: 0.3s;
}
.member-box:hover{
  border-top: solid 5px #008cff;
}
.member-headshot{
  width: 100%;
  height: auto;
}
.image-bio-box{
  width:250px;
  height:250px;
}

.partner-logo-box-bare{
  width: 150px;
  height: 150px;
}
.partner-logo-box{
  position: relative;
  width: 150px;
  height: 150px;
  box-shadow: 0 5px 5px 0 #bbb;
  background: #fff;
}

img.partner-image{
  width: 100%;
  max-height: 180px;
  padding: 20px;
}

.partnering-box{
  padding: 40px;
}

.blue-box{ border: 5px solid #008cff; }
.grey-box{ border: 3px solid #b4b4b4; }
.general-box{
  box-shadow: 0 5px 5px 0 #bbb;
  background: #fff;
}
.with-padding{ padding: 30px; }
.with-padding-bottom-only{ padding: 0 30px 30px 30px; }
.with-padding-sides-only{padding: 0 30px;}
.with-padding-ends-only{padding: 30px 0;}
.with-padding-right{padding-right: 30px;}
.with-padding-left{padding-left: 30px;}
.with-small-padding{ padding: 15px; }
.general-card{
  padding: 0;
  margin: 0 20px 0 0;
  box-shadow: 0 5px 5px 0 #bbb;
  background: #fff;
  position: relative;
}
.general-card-image-box{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.general-card-image{
  width: 100%;
  height: auto;
}
.general-card-text{
  width: 100%;
  padding: 15px;
}
.side-by-image{
  padding: 0!important;
  width: 100%;
  max-width: 410px;
  height: auto;
}
.add-border{ border: 1px solid #141428; }
.add-side-borders{
  border-left: 1px solid #141428;
  border-right: 1px solid #141428;
}
.add-bottom-border{ border-bottom: 1px solid #141428; }
.add-right-border{ border-right: 1px solid #141428; }
.add-left-border{ border-left: 1px solid #141428; }
.general-header-big{
  font-size: 44px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 15px 0;
}
.general-header-small{
  font-size: 24px;
  line-height: 1.42;
  margin: -4px 0 -8px 0;
}
.general-header-tiny{
  font-size: 20px!important;
  line-height: 1.42;
  margin: -3px 0 -7px 0;
}
.general-content{
  font-size: 18px;
  line-height: 1.43;
  margin: -2px 0 -6px 0;
}
.general-content-medium{
  font-size: 15px;
  line-height: 1.43;
  margin: -1px 0 -3px 0;
}
.general-content-small{
  font-size: 12px;
  line-height: 1.43;
  margin: -1px 0 -3px 0;
}
.spaced{
  letter-spacing: 3px;
}
span.general-content{
  font-size: 18px;
  line-height: 1;
}
span.general-content-small{
  font-size: 14px;
  line-height: 1;
}
span.general-header-big{
  font-size: 44px;
  font-weight: 300;
  line-height: 1;
}
span.general-header-small{
  font-size: 24px;
  line-height: 1;
}
span.content-spacing-object{
  margin-right: 5px;
}
.content-to-header-padding-small{
  padding-top: 4px;
}
.indent{margin-left: 20px;}
ul.general-bullets, ol.general-bullets{
  padding-left: 20px;
  margin: 0;
}
ol.lower-alpha{list-style-type: lower-alpha;}
li.general-bullets{
  padding-top: 15px;
  color: #008cff;
}
li.general-outline{
  font-size: 18px;
  padding-top: 15px;
}
li.general-bullets:first-child, li.general-outline:first-child{ padding-top: 0;}
.darkgrey{ color: #333; }

.operator-benefit-icon-size{ height: 92px; }
.operator-benefit-icon-box{ border: 1px solid #141428; }
.operator-testimonial-logo{
  height: 150px;
  width: 150px;
}
.utility-info-graphic{
  height: 150px;
  width: 150px;
}

.operator-roster-logo{
  width: 100%;
  height: auto;
}

.image-cover{
  background: rgba(0,0,0,0.8);
  color: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
img.fill{
  width: 100%;
  height: auto;
}
.explanatory-icon{
  padding-right: 20px;
  font-size: 60px;
}
.carousel-icon{ font-size: 60px; }
.explanatory-image{
  padding: 10px;
  height: 72px;
}
.icon72{font-size: 72px; line-height: 1;}
a.explanatory-icon, a.explanatory-icon:visited, a.explanatory-icon:link, a.carousel-icon, a.carousel-icon:visited, a.carousel-icon:link{
  color: #008cff;
  transition: 0.3s;
}
a.explanatory-icon:hover,a.carousel-icon:hover{
  color: #0032c8;
}
.process-nav-height{
  height: 270px;
}

.quote-icon{
  color: #b4b4b4;
  font-size: 24px;
}
.big-quote{
  color: #b4b4b4;
  font-size: 72px;
  margin: -12px 0 -60px 0;
  font-family: 'Passion one';
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

.selector-link{
  color: #b4b4b4;
  text-decoration: none;
  transition: 0.3s;
}
a.selected-link, a.selected-link:active, a.selected-link:focus{
  color: #008cff;
  text-decoration: none;
  transition: 0.3s;
}
.selected-link:hover, .selector-link:hover{
  color: #0032c8;
  text-decoration: none;
}

.block{ display: inline; }
.mobile-block {display: inline; }

.not-mobile{display: inherit;}
.not-mobile-inline{display: inline;}

.quad-box{ height: 150px; }

.operator-logo-for-messages{
  width: 200px;
  height: 50px;
  background: #999;
}

.message-list-item{
  transition: 0.3s;
}

.message-list-item-unread{
  background: #e6e6f0;
  transition: 0.3s;
}

.message-list-item:hover, .message-list-item-unread:hover{
  background: #b4b4b4;
  cursor: pointer;
}

.message-response-box{ height: 150px; }
.message-response-box-height{ height: 150px; }
.message-response-height{ height: 100px;}

.scrolly{ overflow-y: scroll; }

.estimator-arrow{
  stroke-width: 0px;
  fill: #008cff;
}
.estimator-active-line{
  stroke-width: 10px;
  stroke: #008cff;
  fill: #008cff;
}

.estimator-inactive-line{
  stroke-width: 5px;
  stroke: #888;
}
.estimator-active-endpoint{
  stroke-width: 0px;
  fill: #008cff;
}
.estimator-inactive-endpoint{
  stroke-width: 0px;
  fill: #888;
}
.estimator-blue{ fill: #008cff; }
.estimator-blue-line{ stroke: #008cff; }
.estimator-navy{ fill: #0032c8; }
.estimator-navy-line{ stroke: #0032c8; }
.estimator-yellow{ fill: #ffe778; }
.estimator-yellow-line{ stroke: #ffe778; }
.estimator-red{ fill: #e60046; }
.estimator-red-line{ stroke: #e60046; }
.estimator-green{ fill: #00d282; }
.estimator-green-line{ stroke: #00d282; }
.estimator-donut-hole{ fill: white; }
.estimator-doily{
  fill: #aaa;
  opacity: 0.3;
}
.estimator-line{
  stroke-width: 20px;
  fill: none;
}
.estimator-line-cap{ stroke-width: 0px; }
.estimator-ring{
  stroke-width: 7px;
  fill: none;
}
.estimator-form{
  width: 80px;
  border: none;
  font-size: 22px;
  height: 44px;
}
.estimator-form-big{
  font-size: 44px;
}
.estimator-form-3digits{ width: 40px; }
.estimator-form-4digits{ width: 50px; }
.estimator-form-3digits-big{ width: 80px; }
.estimator-form-4digits-big{ width: 100px; }
span.estimator-line-spacing,.estimator-line-spacing{
  padding-top: 15px;
}

.estimator-right-separator-box{
  border-right: 1px solid #888;
  min-height: 82px;
}
.estimator-left-separator-box{
  border-left: 1px solid #888;
  min-height: 82px;
}

.auto-container{width: auto;}

.preformatted{
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9;
}

.show-password{ cursor: pointer; }

.graph-axis{
  stroke: #333;
  stroke-width: 2px;
}
.graph-label, .graph-title{ font-family: 'Helvetica'!important; }
.graph-dot{
  fill:#fff;
  stroke-width: 3px;
}

@media (max-width: 991px) {
  .big-only{display: none;}
  .mid-only{display: inherit;}
  .mid-only-inline{display: inline;}
  .grand-container{
    width: calc(100vw - 30px);
    padding: 0 15px;
  }
  .grand-container-width{ width: calc(100vw - 30px); }
  .row-of-summary-cards{
    max-width: calc(766px - 50px);
  }
  .bid-summary-card{
    margin: 0 auto 30px auto;
    padding: 10px 40px;
  }
}
.mobile-only{display: none;}
@media (max-width: 767px){
  .not-small{display: none;}
  .mid-only{display: none;}
  .small-only{display: inherit;}
  .hiw-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .hiw-text{
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .hiw-img{
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .not-mobile{display: none;}
  .not-mobile-inline{ display: none; }
  .mobile-only{display: inherit;}
  .mobile-cover{
    width: 100vw;
    height: 100vh;
    background: #FFF;
    position: fixed;
    z-index: 2000;
  }
  .expand-mobile-only{ display: none; }
  .floatright{ height: auto;}
  .floatleft{ height: auto;}
  .floatright-conditional{
    float: left;
    margin-left: 0;
    height: auto;
  }
  .grand-container{
    width: 100%;
    padding: 15px;
    margin: 0;
  }
  .col-padding{
    margin-left: 0;
    margin-right: 0;
  }
  .row-padding{
    margin-left: 0;
    margin-right: 0;
  }

  .mobile-wide{ width: 100%;}
  .mobile-center{ margin: 0 auto;}
  .mobile-container{
    width: 100%;
    padding: 0 5vw;
  }
  .mobile-header-note{ font-size: 15px; }
  .geometric-link{ color: #008cff; }
  .button1, input.button1, a.button1{ font-size: 18px; }
  .button2, input.button2, a.button2{ font-size: 18px; }
  .button3, input.button3, a.button3{ font-size: 18px; }
  .button4, input.button4{
    padding: 10px 30px;
    display: inline-block;
    font-size: 24px;
    height: auto;
  }
  .button-confirm, input.button-confirm{
    display: inline-block;
    font-size: 34px;
    line-height: 120px;
  }
  .address-link{ font-size: 18px; }
  .address-format{ display: block; }
  .icon-spacing{ margin: 0 10px; }
  .icon-spacing-right{ margin-right: 15px; }
  .icon-spacing-button3{ margin-right: 25px; }
  .info-spacing{ padding: 0; }
  img.community-solar-diagram{ width: 90%; }
  .half-image-message-box{
    height: 300px;
    margin: 0;
  }
  .half-image-message{
    margin: 20px 0;
  }
  .select-menu{
    position: relative;
    left: -30px;
    top: 10px;
  }
  .select-menu-format{
    font-size: 18px;
    border: none;
  }
  .select-menu-width{width: 90vw;}
  .menu-spacing{ padding: 20px 0;}
  .select-menu-format{
    font-size: 18px;
  }
  .bid-detail-select-card{
    display: none;
  }
  .row-of-summary-cards{
    max-width: calc(90vw - 30px);
  }
  .bid-summary-card{
    border-radius: 5px;
    border-top: solid 10px #0032c8;
    padding: 10px 10px;
    margin: 10px 0;
    transition: 0.3s;
  }
  .bid-summary-card:hover{
    border-top: solid 20px #008cff;
  }
  .summary-card-break{ height: 80px; }
  .summary-card-exit-padding{
    padding: 30px 0 30px 50px;
    display: block;
  }
  .summary-card-text{ font-size: 18px; }
  a.summary-card-text{ font-size: 18px; }
  .operator-logo-for-card{
    height: 250px;
    width: 100%;
  }
  .vertical-rule-padding50{ padding-left: 0; }
  .charcoal-vertical-rule{ border-left: solid 0px #141428;}
  .lightgrey-vertical-rule{ border-left: solid 0px #e6e6f0;}
  .grey-vertical-rule{ border-left: solid 0px #b4b4b4;}
  .help-panel-item-label{
    font-size: 18px;
    margin: 30px 0;
  }
  .help-panel-item{
    margin: 30px 0;
    clear: left;
    display: block;
  }
  .header-banner-height{ height: auto; }
  .header-bottom-height{ height: auto; }
  .header-banner-bottom{
    display: none;
    background: white;
  }
  .header-hamburger{
    display: inline;
    background: #fff;
  }
  .mobile-nav-icon{
    color: #141428;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
  }
  .header-nav-height{
    height: 60px;
    width: 100%;
  }
  .header-menu-title{
    display: inline-block;
    width: calc(100vw - 20px);
    text-align: left;
    font-size: 18px;
    padding: 5px 10px;
    color: #008cff;
  }
  .header-logo{
    height: 40px;
    width: auto;
  }
  a.header-menu-item{
    font-size: 18px;
    color: #008cff;
    font-weight: 200;
  }
  a.header-menu-item:visited{ color: #008cff; }
  .header-menu-title{ color: #008cff; }
  a.header-menu-title, a.header-menu-title:visited{ color: #008cff; }
  .header-menu{
    width: 80vw;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #fff;
  }
  span.header-menu-spacing-object{ margin: 0; }
  .header-menu-cap{
    background-color: transparent;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    z-index: 900;
  }
  .header-menu-spacing{
    padding: 10px;
    margin: 10px 0 10px 20px;
  }
  .header-menu-spacing-last{
    padding: 10px;
    margin: 10px 0 10px 20px;
  }
  .header-menu-spacing-first{
    padding: 10px;
    margin: 10px 0 10px 20px;
    border-top: 0px solid #333;
  }
  .header-menu-title-centering{ margin-top: 0px; }
  .message-count{
    padding: 0 15px;
    border-radius: 20px;
    font-size: 18px;
  }
  .mobilewidth-big{ display: none; }
  .mobilewidth-small{ display: inherit; }
  .mobile-text-center{
    text-align: center!important;
    margin: 0 auto;
  }
  .mobile-text-left{text-align: left!important;}
  .mobile-text-right{text-align: right!important;}
  .mobile-nav-bottom-spacing{ height: 250px;}
  .mobile-nav-top-spacing{ height: 50px;}
  .add-vertical-pad{ padding: 20px 0px; }
  .add-small-vertical-pad{ padding: 10px 0px 5px 0px; }
  .mobile-vertical-pad{ padding: 20px 0px; }
  .mobile-small-vertical-pad{ padding: 10px 0px 5px 0px; }
  .mobile-vertical-margin{ margin: 20px 0px; }
  .mobile-small-vertical-margin{ margin: 10px 0px 5px 0px; }
  .panel-padding{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .panel-padding-bottom-only{ padding-bottom: 20px; }
  .panel-padding-top-only{ padding-top: 20px; }
  .panel-padding-sides-only{
    padding-left: 15px;
    padding-right: 15px;
  }
  .panel-padding-small{ padding: 15px 0; }
  .panel-slate-desktop{
    color: #333;
    background: #fff;
  }

  .form, input.form {
    font-size: 18px;
    height: 44px;
    line-height: 2;
    width: 90%;
    margin: auto;
    background: white;
    border: 3px #b4b4b4 solid;
  }
  input.form[type=submit]{
    font-size: 18px;
    height: 44px;
    min-width: 200px;
    margin: 0 40px;
  }
  .form-area, input.form-area{
    font-size: 18px;
    height: 44px;
    width: 100%;
    border: 3px #b4b4b4 solid;
  }
  .form-short, input.form-short{
    width: 90%;
    margin: auto;
  }
  .form-zip, input.form-zip{
    width: 100px;
    height: 44px;
    font-size: 18px;
    line-height: 1.8;
    vertical-align:bottom;
    padding-top: 0px;
    border: 2px solid #141428;
  }
  .form-zip-button{
    width: auto;
    height: 44px;
    font-size: 18px;
  }
  .economic-parameter{
    width: 75px;
    text-align: right;
    border: 3px #b4b4b4 solid;
  }
  .detail-nav-link{ font-size: 18px; }
  .stacking-objects{
    text-align: center;
    margin: 10px 0;
    display: block;
  }
  .member-box{
    border: 3px solid #141428;
    border-top: 25px solid #0032c8;
    border-radius: 15px;
    margin: 50px 0;
    padding: 80px;
  }
  .member-headshot{
    width: 100%;
    margin: 0 auto;
  }
  .with-padding{ padding: 10px; }
  .with-padding-bottom-only{ padding: 0 10px 10px 10px; }
  .with-padding-sides-only{padding: 0 10px;}
  .with-padding-ends-only{padding: 10px 0;}
  .with-padding-right{padding-right: 10px;}
  .with-padding-left{padding-left: 10px;}
  .with-small-padding{ padding: 5px; }
  .general-card-image-box{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .general-header-big{
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 15px 0;
  }
  .general-header-small, span.general-header-small{
    font-size: 24px;
    line-height: 1.42;
    margin: -4px 0 -8px 0;
  }
  .general-content{
    font-size: 18px;
    line-height: 1.43;
    margin: -3px 0;
  }
  .general-content-small{
    font-size: 14px;
    line-height: 1.43;
    margin: -2px 0 -6px 0;
  }
  span.navy-header{
    font-size: 30px;
    margin-right: 10px;
  }
  span.cerulean-header{
    font-size: 30px;
    margin-right: 10px;
  }
  span.grey-header{
    font-size: 30px;
    margin-right: 10px;
  }
  .partner-logo-box{
    width: calc(100% - 20px);
    height: auto;
    box-shadow: 0 5px 5px 0 #bbb;
    background: #fff;
    margin: 10px;
  }
  img.partner-image{
    width: 100%;
    max-height: 350px;
    padding: 20px 0;
  }

  .mobile-block{ display: block;}

  ul.general-bullets{
    padding-left: 25px;
    margin: 0;
  }
  li.general-bullets{
    font-size: 18px;
    padding-top: 15px;
    color: #008cff;
  }
  li.general-bullets:first-child{ padding-top: 0;}

  .explanatory-icon{
    padding: 10px;
    font-size: 30px;
  }

  .detail-card-exit-padding{ padding: 0 0 0 50px; }

  .operator-profile-banner{
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .mobile-bid-detail-select-card{
    border-top: 5px solid #141428;
    width: 100vw;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 1000;
  }

  .explanatory-image{
    padding: 10px;
    height: 52px;
  }
  .quad-box{
    height: auto;
    padding: 20px 0;
    }

  .mobile-floatclear{ clear: left; }
  .profile-text-container{
    height: 120px;
    width: 100%;
  }
  .operator-profile-banner-top-spacing{ height: 0px; }

  .estimator-right-separator-box{
    border-right: 0px;
  }
  .estimator-left-separator-box{
    border-left: 0px;
  }
  .footer-span-first{ padding: 10px 20px 10px 0;}
  .footer-span{ padding: 10px 20px 10px 0;}
  .footer-span-last{ padding: 10px 20px 10px 0;}

  .social-media-icon{font-size: 48px;}

  .underline-active{ border-bottom: 4px solid white; }
  .underline-inactive{ border-bottom: 4px solid white; }
  .overline-slate{ border-top: 4px solid white; }
  .overline-charcoal{ border-top: 4px solid white; }

  .full-header{
    height: auto;
  }

  .mobile-nav-present{ display: none; }

  .mobile-get-quotes-spacing{ height: 100px; }
  .header-menu-title-open{
    margin-top: 2px;
  }

  .expand{ display: none; }
}
